NODE_NAME=AUTH_MS
NODE_ENV=Development
NODE_HOSTNAME=127.0.0.1
NODE_PORT=3000
NODE_FILE_FOLDER=/data
NODE_FILE_FOLDER_NAME=/data
NODE_LOG_PATH=./logs
NODE_DB_FILE=users.json
MONGODB_DB_URL = mongodb://localhost
MONGODB_DB_NAME = db_my_app
MONGODB_DB_COLLECTION = col_users